<p id="notice"><%= notice %></p>

<h1>Coffee & Tea</h1>

<p>
  Yes, we’re a specialty coffee and espresso bar, too! Coffee in front, bikes in the back–we call it the retail mullet. We’re proud to be partnering with Archetype, a little local roaster that does a fine fine job! Just like on the bike side of things, we sell high quality stuff that we love.
</p>

<p>
  Our baristas make excellent drinks (for real!–is it bragging if it’s true?), whether you want a carefully extracted double espresso, iced white mocha with extra whipped cream, or anything in between. Check out our menu:
</p>

<ul class="no-bullet">
  <li>
    Espresso (double)
  </li>
  <li>
    Americano (espresso + water)
  </li>
  <li>
    Latte (espresso + steamed milk)
  </li>
  <li>
    Cappuccino (espresso + steamed milk + Foam)
  </li>
  <li>
    Mocha (espresso + Ghirardelli chocolate + steamed milk + whipped cream)
  </li>
  <li>
    Breve (espresso + steamed 1/2 & 1/2)
  </li>
  <li>
    Coffee (drip, french press, or Chemex)
  </li>
  <li>
    Hot Cocoa (steamed milk + Ghirardelli chocolate + whipped cream)
  </li>
  <li>
    Steamer (steamed milk + any flavor + whipped cream)
  </li>
  <li>
    Hot Apple Cider (with whipped cream, if you like)
  </li>
  <li>
    Loose Leaf Tea (black, green, herbal, and–of course–maté)
  </li>
  <li>
    Chai Latte (choose from Oregon Original or Third Street Spicy Ginger!)
  </li>
</ul>

<p>
  Milk options: whole, skim, soy, or almond.
</p>

<p>
  We are happy to bring fabulous locally baked cookies, muffins and scones by Sweet Magnolia’s Bake Shop (Sweet Mag’s fer short) and VEGAN VEDNESDAYS are hard to beat from our friends at Two Birds Bakery.
</p>
<p>
  Our shop offers cozy seating inside, a lovely back deck, and free wifi. Oh! And if you’re along Maple Street, we deliver by bike. Neat, eh?!
</p>
