<p id="notice"><%= notice %></p>

<div class="row">
  <div class="large-12 large-centered columns">
    <h1>Employees</h1>

    <% employees = Employee.all %>
    <% employees.each do |e| %>
      <ul class="no-bullet">
        <li>
          <strong><%= e.name %></strong>
        </li>
        <li>
          <%= e.description %>
        </li>
        <li>
          <%= image_tag(e.image)%>
        </li>
      </ul>
    <% end %>
  </div>
</div>
