<h2>
  Contact
</h2>
<ul class="no-bullet">
  <li>
    Hours: Tues-Fri 9a-7p, Saturday 9a-5p. Sun-Mon: CLOSED/RIDING/FITS/APPOINMENTS ONLY
  </li>
  <li>
    Address: 6015 Maple St. Omaha, NE 68104 That’s right, we’re in Benson and we love it.
  </li>
  <li>
    Telephone: 402.315.9900
  </li>
  <li>
    Fax: 1.800.YEAH.RIGHT
  </li>
  <li>
    General Shop/Coffee Inquiries: sarah@omahabicycleco[dot]com
  </li>
  <li>
    Mechanical/Technical Questions: jim@omahabicycleco[dot]com
  </li>
</ul>
