<p id="notice"><%= notice %></p>

<h1>Brands</h1>

<div class="row">
  <div class="large-4 columns">
    <div class="panel">
      <p>
        <% brands = Brand.all %>
        <% brands.each do |b| %>
          <%= link_to image_tag(b.image), b.url %>
        <% end %>
      </p>
    </div>
  </div>
</div>
