<p id="notice"><%= notice %></p>

<h1>Brands</h1>

<div class="row">
  <div class="large-4 columns">
    <div class="panel">
      <p>
        <a href="http://www.allcitycycles.com"><%= image_tag 'obc-bike-brands/all-city-logo-300x300.jpg' %></a>
      </p>
    </div>
  </div>
</div>
