<p id="notice"><%= notice %></p>

<h1>Brands</h1>

<div class="button-bar">
  <ul class="button-group no-bullet">
    <li><button class="button secondary" onclick="showMe('bikes'); hideMe('parts')">Bicycles</button></li>
    <li><button class="button secondary" onclick="showMe('parts'); hideMe('bikes')">Parts, Clothing, Etc.</button></li>
  </ul>
</div>

<div id="bikes" style="display:none">
  <div class="row">
    <div class="large-4 columns">
      <div class="panel">
        <p>
          <!-- for all brands where category = bikes -->
          <% brands = Brand.all %>
          <% brands.each do |b| %>
            <% if b.category.downcase == "bikes" %>
              <%= link_to image_tag(b.image), b.url %>
            <% else %>
            <% end %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>

<div id="parts" style="display:none">
  <div class="row">
    <div class="large-4 columns">
      <div class="panel">
        <p>
          <!-- for all brands where category = parts -->
          <% brands = Brand.all %>
          <% brands.each do |b| %>
            <% if b.category.downcase == "parts, clothing, etc." %>
              <%= link_to image_tag(b.image), b.url%>
            <% else %>
            <% end %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
